@model ASPNET8.Models.CityViewModel

@{
Layout = Layout;
}

<div class="card">
    <div class="card-body">
        <form method="post" asp-action="GetForecast">
            <div class="form-group">
                <label for="cityName">Enter the city name:</label>
                <input id="cityName" name="CityName" asp-for="CityName" required class="form-control"/>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>

<style>
    .card {
        max-width: 600px;
        margin: auto;
        padding: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }
</style>