@model List<Product>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Created Date</th> 
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
    <tr>
        <td>@product.ID</td>
        <td>@product.Name</td>
        <td>@product.Price</td>
        <td>@product.CreatedDate</td>
    </tr>
    }
    </tbody>
</table>